<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <% if (typeof user !== 'undefined' && user !== null) { %>
  <p>Logged in as user:
    <%= user.first_name + " " + user.last_name %>
  </p>

  <br />

  <% if (user.membership_status === true) { %>
  <p>--- YOU ARE A MEMBER ---</p>
  <% } else { %>
  <a href="/membership">Become a Member!</a> <br />
  <% } %>

  <a href="/logout">Log out</a>
  <% } else { %>
  <p>Not currently logged in.</p>
  <a href="/sign-up">Sign up</a> <br />
  <a href="/login">Log In</a> <br />
  <% } %>

  <div>
    <h1>Message Board</h1>
    <hr />

    <% if (typeof user !== 'undefined' && user !== null) { %>
    <form action="/message" method="get">
      <button type="submit">Create New Message</button>
    </form>
    <% } %> <% if (typeof messages !== 'undefined' && messages !== null &&
      messages.length) { %>
    <ul>
      <% messages.forEach((message) => { %>
      <li>
        <p><%= message.message %></p>

        <% if (typeof user !== 'undefined' && user !== null &&
          user.membership_status === true) { %>
        <b>
          <p>Message Date: <%= message.date.toUTCString() %>
            <br />
            Message Poster : <%= message.first_name %>
            <br />
            <% if (user.admin) { %>
            <a href="/delete/<%= message.message_id %>">Delete this message</a>
            </form>
            <% } %>
          </p>

        </b>
        <% } %>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>Messages Not Found!</p>
    <% } %>
  </div>
</body>

</html>